<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>foodIt</title>
</head>
<body>
    <h1>foodIt</h1>

    <h1>VOLUNTEER FORM </h1>
    <form action="/volunteer" method="POST">
        <input type="text" name="name" id="" placeholder="Name">
        <input type="text" name="addr" id="" placeholder="Address">
        <input type="text" name="number" id="" placeholder="Phone Number">
        <input type="email" name="email" id="" placeholder="Email Address">
        <input type="text" name="pincode" placeholder="PINCODE">
        <button>Submit</button>
    </form>
    <h1>DONTATION FORM</h1>
        <form action="/donate" method="POST">
            <input type="text" name="name" id="" placeholder="Name">
            <input type="text" name="addr" id="" placeholder="Address">
            <input type="text" name="number" id="" placeholder="Phone Number">
            <input type="email" name="email" id="" placeholder="Email Address">
            <input type="datetime" name="age" id="" placeholder="Age">
            <input type="password" name="password" id="" placeholder="Password">
            <input type="number" name="servings" placeholder="Number Of Servings">
            <input type="radio" name="type" value="1"> Veg
            <input type="radio" name="type" value="0"> Veg (EGG)
            <input type="radio" name="type" value="-1"> Non-Veg
                <input type="text" name="pincode" placeholder="PINCODE">

            <button>Submit</button>
        </form>
</body>
</html>